__pycache__

# Data directory and cache files
data
cache/*.dat
cache/train-2014
cache/val-2014
*.npz
results

# PyTorch files
*.pt

# Virtual Environments
env*/

# Testing on Find module
find-assessment
